html {
  background-color: #eee;
  text-decoration: none;
}

body {
  color: #444;
  text-decoration: none;
}

img {
  margin-bottom: 0;
}

a {
  box-shadow: none;
  text-decoration: none;
}

.flex-column-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-row-container {
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-content: space-between;
}

.flex-containee {
  flex: 1;
  align-self: center;
}

.flex-medium-containee {
  flex: 1.5;
}

.flex-large-containee {
  flex: 4;
}

.right {
  text-align: right;
}

.left {
  text-align: left;
}
