body {
  color: #444444;
  background-color: #eeeeee;
  text-decoration: none;
}

a {
  box-shadow: none;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul {
  list-style: none;
  margin-left: 0;
}

img {
  margin-bottom: 0;
}

.right {
  text-align: right;
}

.left {
  text-align: left;
}

.text-style-bold {
  font-weight: bold;
}

.text-spacing-bottom {
  padding-bottom: 1em;
}

.text-spacing-bottom-double {
  padding-bottom: 2em;
}

.flex-column-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-row-container {
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-content: space-between;
}

.flex-containee {
  flex: 1;
  align-self: center;
}

.flex-medium-containee {
  flex: 1.5;
}

.flex-large-containee {
  flex: 4;
}

.social-media-container {
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-content: space-between;
  width: 300px;
}

.social-media-containee {
  flex: 1;
  align-self: center;
}

.social-media-icon {
  padding: 0 15%;
}

.built-with {
  white-space: pre;
}
